@import url("reset.css");

header, 
article, 
aside, 
footer {

    border: 2px solid red;
    padding: 2rem;
    margin: 1rem;
}


.column {
    border: 2px dotted orange;
    padding: 1rem;
    margin: 1rem;
}


article {
    display: flex;flex-direction: column;
}

@media screen and (max-width: 400px) {

    /*Desktop */
    
}


.column {
    border: 2px dashed green;
    background-color: blueviolet!important;
}