@import url("reset.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #b0b;
    font-family: Arial, sans-serif;
}

.content {
    width: 80%;
    display: grid;
    grid-template-areas: 
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    background-color: #d1d1d1;
    padding: 10px;
    border: solid black;
}

header {
    grid-area: header;
    background-color: #a63d7d;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 5px;
}

aside {
    grid-area: aside;
    background-color: #005f9e;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    border: 2px solid black;
}

main {
    grid-area: main;
    background-color: #41b38b;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;
}

article {
    background-color: #d9395b;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 5px;
    border: 2px solid black;
}

footer {
    grid-area: footer;
    background-color: #db6b12;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    border: 2px solid black;
}