@import url("utility.css");


.flex {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #203731;
    padding: 0.5rem;
  }
  
  .flex__item {
    background-color: rgba(var(--flex-color), 0.25);
    border: 4px dashed;
    border-color: white;
    padding: 2em;
    border-radius: 2rem;
    background-color: #203731;
    color: #FFB612;
    box-shadow: 0 0 50px 15px #e0d948;
  }
  
#flex1 {
  background-color: 203731;
  color: gold;
  box-shadow: 0 0 50px 15px #e0d948;
}

  .grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: auto;
    padding: 1rem;
    
  }
  
  .grid__item {
    background-color: rgba(var(--grid-color), 0.25);
    border: 1px solid rgba(var(--grid-color), 1);
    border-radius: 1rem;
    padding: 2em;
    text-align: center;
    background-color: aqua;
    color: darkmagenta;
}
  